body{
	color: #2F3336;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
.pop-products{
    text-align: center;
}

h1{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin-bottom: 50px;
}
.pop-products figcaption{
    margin-top: 8px;
}
/* 
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}

.navbar
{
	min-height: 57px;
} */

.bg-jumpers
{
	background-color: #91a33b !important;
}
